<?xml version="1.0" ?>
<robot name="diff_drive" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find nav2_outdoor_example)/urdf/materials.xacro" />
  <xacro:include filename="$(find nav2_outdoor_example)/urdf/robot.gazebo" />
  <!-- <xacro:include filename="$(find nav2_outdoor_example)/urdf/wheel.xacro" /> -->
  <xacro:include filename="$(find nav2_outdoor_example)/urdf/base.urdf.xacro" />
  <xacro:include filename="$(find nav2_outdoor_example)/urdf/wheel.urdf.xacro" />
  <xacro:include filename="$(find nav2_outdoor_example)/urdf/lidar_mid360_sensor.urdf.xacro" />

  <xacro:property name="base_length" value="0.445" />
  <xacro:property name="base_width" value="0.200" />
  <xacro:property name="base_height" value="0.129" />
  <xacro:property name="base_mass" value="10" />

  <xacro:property name="wheel_radius" value="0.07162" />
  <xacro:property name="wheel_width" value="0.05" />
  <xacro:property name="wheel_pos_x" value="0.120" />
  <xacro:property name="wheel_pos_y" value="0.1355" />
  <xacro:property name="wheel_pos_z" value="-0.04788" />
  <xacro:property name="wheel_mass" value=".6" />
  <xacro:property name="wheel_torque" value="20" />

  <xacro:base 
    length="${base_length}" 
    width="${base_width}" 
    height="${base_height}" 
    mass="${base_mass}"
    wheel_radius="${wheel_radius}"
    wheel_pos_z="${wheel_pos_z}"
  />

  <xacro:wheel 
    side="front_left"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${wheel_pos_x}" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:wheel 
    side="front_right"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${wheel_pos_x}" 
    pos_y="${-wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />
  <xacro:wheel 
    side="rear_left"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${-wheel_pos_x}" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:wheel 
    side="rear_right"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${-wheel_pos_x}" 
    pos_y="${-wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <joint name="imu_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
  </joint>

  <link name="imu_link">
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="white" />

    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 1.57"/>
      <mass value="0.005"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <joint name="gnss_joint" type="fixed">
    <origin xyz="0 0 -0.05" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="gnss_link"/>
  </joint>

  <link name="gnss_link">
    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="black" />
    </visual>
    <inertial>
      <origin xyz="0 0 0.1" rpy="0.3 1.6 -0.4"/>
      <mass value="0.005"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <xacro:lidar3d_sensor>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
  </xacro:lidar3d_sensor>

  <gazebo>
    <plugin
      filename="gz-sim-sensors-system"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
  </gazebo>
  
</robot>
